@media only screen and (max-width: 900px) {
    body {
      display: block;
      padding-top: 50px;
    }

    aside {
        display: none;
    }

    main {
        width: 100%;
        margin-left: 0;
    }

    #fixed-top {
        background-color: white;
        display: block;
        box-shadow: 1px 1px 5px 1px #ccc;
        position: fixed;
        width: 101%;
        top: 0;
        left: 0;
    }

    .mobile-menu-wrapper {
        overflow-x: auto;
    }

    #mobile-menu {
        width: 2000px;
        display: flex;
        height: 40px;
       
    }

    .product-item-mobile {
        margin: 2px 5px;
    }

    .product-item-mobile a {
        text-decoration: none;
        border: solid 1px #333;
        border-radius: 10px;
        display: inline-block;
        padding: 3px 7px;
        color: #333;
    }
}