@media only screen and (max-width: 900px) {
    body {
      background-color: lightblue;
      display: block;
    }

    aside {
        display: none;
    }

    main {
        width: 100%;
        margin-left: 0;
    }

    #fixed-top {
        display: block;
    }

    #mobile-menu {
        background-color: #fff;
        height: 40px;
    }
}